
@font-face {
  font-family: 'Mont';
  src: url('fonts/Mont-Regular.woff2')format('woff2'),
        url('fonts/Mont-Regular.woff') format('woff'),
        url('fonts/Mont-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}